{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block content %}
    <div class="container text-center mt-5">
        <h1>Страница не найдена!</h1>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {# ... #}
        {% endif %}

        <p>
            Страница не найдена. Проверьте адрес ссылки или <a href="{{ path('homepage') }}">вернитесь на главную</a>.
        </p>
    </div>
{% endblock %}