{% extends 'base.html.twig' %}

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet">

    {% endblock %}

    {% block body %}
    <nav class="navbar navbar-toggleable-md navbar-inverse static-top bg-primary">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand row col-sm-3 col-md-2 mr-0" href="{{ path('homepage') }}">Tulbix</a>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-2">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contacts_person_new') }}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Контакт</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('tasks_new') }}"><i class="fa fa-plus-circle" aria-hidden="true"></i> Задача</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0 sr-only">
                    <input class="form-control" type="text" placeholder="Search" style="min-width: 400px;">
                </form>
                <ul class="navbar-nav ml-auto">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="profile_menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.user.username }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="profile_menu">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a></li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <nav class="col-sm-3 col-lg-2 pr-lg-0 pr-md-0 pr-sm-0 pl-lg-3 pl-sm-0 sidebar">
                {{ knp_menu_render('main', {'currentClass': 'active', 'template': 'menu/mainmenu.html.twig'}) }}
            </nav>

            <main class="col-sm-9 col-lg-10 pl-lg-0 pl-md-0 pl-sm-0 pt-3">
                {% block dashboard_content %}{% endblock %}
            </main>
        </div>
    </div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
    {% endblock %}