{% trans_default_domain 'FOSUserBundle' %}

<h4 class="text-center mb-2 mt-5">{{ 'layout.register'|trans }}</h4>
<div class="row">
    <div class="col-lg-4 col-md-3 col-sm-2"></div>
    <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
            <div class="card-block">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" class="btn btn-primary btn-block" value="{{ 'registration.submit'|trans }}" />
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
