{% extends 'layout.html.twig' %}

{% block dashboard_content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Задачи</h4>
        <h6 class="card-subtitle text-muted">{{ tasks|length }} записей</h6>
    </div>
    <div class="card-block">
        {% for task in tasks %}
            <div class="media mb-3">
                <div class="media-body">
                    <h6 class="media-heading mt-2"><a href="{{ path('tasks_show', { 'id': task.id }) }}">{{ task.name }}</a></h6>
                    <p class="card-subtitle text-muted mt-2">

                    </p>
                </div>
            </div>
        {% endfor %}

        <div class="pt-5">
            {{ knp_pagination_render(tasks) }}
        </div>
    </div>
</div>
{% endblock %}
