{% extends 'layout.html.twig' %}

{% block dashboard_content %}
<div class="card">
    <div class="card-header">
        <div class="pull-right">
            <a class="btn btn-link btn-sm" href="{{ path('tasks_edit', { 'id': task.id }) }}">Редактировать</a><br>
            <a class="btn btn-link btn-sm" href="{{ path('tasks_index') }}">Назад к списку</a>
        </div>
        <h4 class="card-title">{{ task.name }}</h4>
        <p class="card-subtitle text-muted">

        </p>
    </div>
    <div class="card-block">


        <div class="mt-3">

        </div>
    </div>
</div>
{% endblock %}
