{% extends 'layout.html.twig' %}

{% block dashboard_content %}
<div class="card">
    <div class="card-header">

        <div class="pull-right">
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-link btn-sm text-danger" value="Удалить">
            {{ form_end(delete_form) }}
        </div>

        <h4 class="card-title">{{ person.firstname }} {{ person.lastname }}</h4>
        <p class="card-subtitle text-muted">Редактирование контакта</p>
    </div>
    <div class="card-block">

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" class="btn btn-success mr-3" value="Сохранить" /> или <a class="btn btn-link text-danger" href="{{ path('contacts_index') }}">Отменить</a>
        {{ form_end(edit_form) }}

        <div class="mt-3">

        </div>
    </div>
</div>
{% endblock %}
