{% extends 'layout.html.twig' %}

{% block dashboard_content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Контакты</h4>
        <h6 class="card-subtitle text-muted">{{ persons|length }} записей</h6>
    </div>
    <div class="card-block">
        {% for person in persons %}
            <div class="media mb-3">
                <img class="d-flex mr-3" src="{{ asset('images/contact_image.png') }}" alt="Generic placeholder image">
                <div class="media-body">
                    <h6 class="media-heading mt-2"><a href="{{ path('contacts_person_show', { 'id': person.id }) }}">{{ person.firstname }} {{ person.lastname }}</a></h6>
                    <p class="card-subtitle text-muted mt-2">
                        {% if person.company %}{{ person.company.name }}{% endif %}
                    </p>
                </div>
            </div>
        {% endfor %}

        <div class="pt-5">
            {{ knp_pagination_render(persons) }}
        </div>
    </div>
</div>
{% endblock %}
