{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block dashboard_content %}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Новый контакт</h4>
        <p class="card-subtitle text-muted"></p>
    </div>
    <div class="card-block">

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" class="btn btn-success mr-3" value="Создать" /> или <a class="btn btn-link text-danger" href="{{ path('contacts_index') }}">Отменить</a>
        {{ form_end(form) }}

    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
