{% extends 'layout.html.twig' %}

{% block dashboard_content %}
<div class="card">
    <div class="card-header">
        <div class="pull-right">
            <a class="btn btn-link btn-sm" href="{{ path('contacts_person_edit', { 'id': person.id }) }}">Редактировать</a><br>
            <a class="btn btn-link btn-sm" href="{{ path('contacts_index') }}">Назад к списку</a>
        </div>
        <h4 class="card-title">{{ person.firstname }} {{ person.lastname }}</h4>
        <p class="card-subtitle text-muted">
            {% if person.company %}{{ person.company.name }}{% endif %}
        </p>
    </div>
    <div class="card-block">


        <div class="mt-3">

        </div>
    </div>
</div>
{% endblock %}
