body {
    font-family: "Highrise Open Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 14px;
    background-color: #f9f7f5;
}

.navbar-nav a { padding: .5em 1em; }

.nav-link { color: #555; padding: .3em 1em; }
.nav-link.active i, .nav-item.active i { color: #0275d8; }

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active, .nav-item.active>.nav-link {
    color: #000;
    cursor: default;
    background-color: #e9e7e5;
    text-shadow: 0px 1px 1px #fff;
    border-radius: 0;
}

main .card .card-block { min-height: 400px; }