{% extends 'layout.html.twig' %}

{% block dashboard_content %}
    <div class="card">
        <div class="card-block">
            <h4 class="card-title">Добро пожаловать!</h4>
            <h6 class="card-subtitle mb-2 text-muted">Сегодня 10 июля 2017 г.</h6>
            <p class="card-text"></p>
        </div>
    </div>
{% endblock %}


