{% extends 'knp_menu.html.twig' %}

{% block label %}
    {% if item.attribute('icon') is not empty  %}
        <i class="{{ item.attribute('icon') }} pr-2" aria-hidden="true"></i>
    {% endif %}
    {%- set translation_domain = item.extra('translation_domain', 'messages') -%}
    {%- set label = item.label -%}
    {%- if translation_domain is not same as(false) -%}
        {%- set label = label|trans(item.extra('translation_params', {}), translation_domain) -%}
    {%- endif -%}
    {%- if options.allow_safe_labels and item.extra('safe_label', false) %}{{ label|raw }}{% else %}{{ label }}{% endif -%}
{% endblock %}
